@keyframes user-animated {
  0% {
    transform: scale(1);
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.7);
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 70px;
  background-color: #353543;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
.header .logo {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}
.header .logo .logo-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.header .logo .logo-title {
  width: 70%;
}
.header .navbar {
  margin-left: auto;
  z-index: 200;
}
.header .navbar ul {
  display: flex;
}
.header .navbar ul li a {
  display: block;
  color: #fff;
  padding: 10px 25px;
}
.header .bars {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    background-color: #282832;
  }
  .header .logo {
    width: 40%;
  }
  .header .logo .logo-title {
    width: 90%;
    margin-left: 10px;
  }
  .header .bars {
    display: block;
    cursor: pointer;
  }
  .header .bars .line {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 8px 0;
    border-radius: 5px;
  }
  .header .navbar {
    height: 0;
    width: 100%;
    background-color: #353543;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .header .navbar.active {
    height: 100vh;
  }
  .header .navbar ul {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30vh;
    transition: 0.9s;
    opacity: 0;
  }
  .header .navbar ul li a {
    display: block;
    padding: 20px 30px;
    text-align: center;
  }
  .header .navbar.active ul {
    opacity: 1;
  }
}
.hero {
  margin-top: 70px;
  background-color: #373543;
  min-height: 100vh;
  width: 100%;
}
.hero .hero-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 5px;
}
.hero .hero-container .InfoPersonal {
  width: 100%;
}
.hero .hero-container .InfoPersonal .InfoPersonal__title-suave {
  color: #9797A7;
  font-size: 30px;
}
.hero .hero-container .InfoPersonal .InfoPersonal__title-bold {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.hero .hero-container .InfoPersonal .InfoPersonal__text {
  color: #9797A7;
  width: 90%;
  margin: 15px 0 5px 0;
  font-size: 15px;
}
.hero .hero-container .Servicios {
  width: 100%;
}
.hero .hero-container .Servicios .Servicios__title {
  color: #807e8d;
  font-size: 20px;
  margin: 10px 0;
}
.hero .hero-container .Servicios .Servicios__info {
  color: #AEAFB9;
  width: 60%;
  text-align: left;
  margin: 10px 0;
  font-size: 14px;
}
.hero .hero-container .Servicios .Servicios__button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
  gap: 8px;
  cursor: pointer;
  transition: 0.5s all;
}
.hero .hero-container .Servicios .Servicios__button span,
.hero .hero-container .Servicios .Servicios__button i {
  font-size: 10px;
  color: #9F8855;
}
.hero .hero-container .Servicios .Servicios__button:hover {
  background-color: #9F8855;
}
.hero .hero-container .Servicios .Servicios__button:hover span,
.hero .hero-container .Servicios .Servicios__button:hover i {
  color: whitesmoke;
}
.hero .hero-container .Servicios .Servicios__redes {
  width: 50%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero .hero-container .Servicios .Servicios__redes i {
  color: #9F8855;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s all;
}
.hero .hero-container .Servicios .Servicios__redes i:hover {
  background-color: #9F8855;
  color: white;
}
.hero .hero-container .user {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 20px;
  overflow: hidden;
  /*  &::after {
    SOLO ES PARA PONER UN CIRCULO ATRAS
       content: "";
       width: 250px;
       height: 250px;
       border-radius: 50%;
       position: absolute;
       top: 0;
       background-color: #282832;
       z-index: 1;
   } */
}
.hero .hero-container .user img {
  width: 100%;
  z-index: 100;
}
.hero .hero-container .user::before, .hero .hero-container .user::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  margin: 0;
  background-color: #282832;
  opacity: 0;
  z-index: 1;
  animation: user-animated 1.7s infinite;
}
.hero .hero-container .user::before {
  animation-delay: 1s;
}
.hero .hero-container .user::after {
  animation-delay: 1.3s;
}
.hero .hero-container .Empresas {
  display: grid;
  padding: 10px;
  width: 100%;
  height: 100px;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: #373543;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.233);
}
.hero .hero-container .Empresas__item {
  width: 100%;
  background-color: rgba(255, 233, 233, 0.986);
  object-fit: contain;
  height: 35px;
}

/*# sourceMappingURL=style.css.map */
