.hero {
    margin-top: 70px;
    background-color: #373543;
    min-height: 100vh;
    width: 100%;


    .hero-container {
        width: 90%;
        margin: 0 auto;
        padding: 20px 5px;
        position: relative;

        .InfoPersonal {
            width: 100%;

            .InfoPersonal__title-suave {
                color: #9797A7;
                font-size: $tamaño-titulo;
            }

            .InfoPersonal__title-bold {
                color: #ffff;
                font-weight: bold;
                font-size: $tamaño-titulo;

            }

            .InfoPersonal__text {
                color: #9797A7;
                width: 90%;
                margin: 15px 0 5px 0;
                font-size: 15px;
            }
        }

        .Servicios {
            width: 100%;

            .Servicios__title {
                color: #807e8d;
                font-size: 20px;
                margin: 10px 0;
            }

            .Servicios__info {
                color: #AEAFB9;
                width: 60%;
                text-align: left;
                margin: 10px 0;
                font-size: 14px;
            }

            .Servicios__button {
                display: flex;
                align-items: center;
                //  justify-content: space-evenly;
                background-color: transparent;
                border-radius: 10px;
                border: none;
                padding: 5px 20px;
                gap: 8px;
                cursor: pointer;
                transition: 0.5s all;

                span,
                i {
                    font-size: 10px;
                    color: #9F8855;
                }

                &:hover {
                    background-color: #9F8855;

                    span,
                    i {
                        color: whitesmoke;
                    }
                }
            }

            .Servicios__redes {
                width: 50%;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                i {
                    color: #9F8855;
                    padding: 10px;
                    border-radius: 50%;
                    transition: 0.5s all;

                    &:hover {
                        background-color: #9F8855;
                        color: white;
                    }
                }

            }
        }

        .user {
            width: 100%;
            position: relative;
            display: grid;
            place-items: center;
            margin-top: 20px;
            overflow: hidden;

            img {
                width: 100%;
                z-index: 50;
            }

            /*  &::after {
             SOLO ES PARA PONER UN CIRCULO ATRAS
                content: "";
                width: 250px;
                height: 250px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                background-color: #282832;
                z-index: 1;
            } */
            &::before,
            &::after {
                content: "";
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                margin: 0;
                background-color: #282832;
                opacity: 0;
                z-index: 1;
                animation: user-animated 1.7s infinite;
            }

            &::before {
                animation-delay: 1s;
            }

            &::after {
                animation-delay: 1.3s;
            }

        }

        .Empresas {

            display: grid;
            padding: 10px;
            width: 100%;
            height: 120px;
            position: absolute;
            //position: relative;
            bottom: -100px;
            z-index: 100;
            place-items: center;
            grid-template-columns: repeat(auto-fit, minmax(min(100px, 50%), 1fr));

            /*  grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr); */
            gap: 10px;
            background-color: #373543;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.233);

            &__item {
                width: 100%;
                background-color: #282832;
                object-fit: contain;
                height: 40px
            }
        }
    }
}

.proyectos {
    min-height: 100vh;
    width: 100%;
    background-color: #282832;

}