.header {
    height: 70px;
    background-color: #353543;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
z-index: 200;
    .logo {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-around;

        .logo-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .logo-title {
            width: 70%;
        }
    }

    .navbar {
        margin-left: auto;
        z-index: 200;

        ul {
            display: flex;

            li a {
                display: block;
                color: #fff;
                padding: 10px 25px;
            }
        }
    }

    .bars {
        display: none;
    }
}


@media screen and (max-width:600px) {
    .header {
        background-color: #282832;

        .logo {

            .logo-title {
                width: 90%;
                margin-left: 10px;
            }
        }

        .bars {
            display: block;
            cursor: pointer;


            .line {
                width: 35px;
                height: 4px;
                background-color: white;
                margin: 8px 0;


            }

        }

        .navbar {
            height: 0;
            width: 100%;
            background-color: #353543;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            overflow: hidden;
            transition: 0.5s;

            &.active {
                height: 100vh;
            }
        }


        .navbar {
            ul {
                display: block;
                width: fit-content;
                margin: 0 auto;
                margin-top: 30vh;
                transition: 0.9s;
                opacity: 0;
                //display: none;



                li a {
                    display: block;
                    padding: 20px 30px;
                    text-align: center;
                }
            }

            &.active ul {
                opacity: 1;
                //display: block;
            }
        }


    }
}